body {
  margin: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}

.App{
  
}

input {
  font-size: xx-large;
}

input[type="text"] {
  width: 100%;
}
